{% extends '_base.html' %}
{% block title %} Detail {% endblock title %}

{% block content %}
<h1>Inventory Detail </h1>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">SKU</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
        <th scope="col">Updated at</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">#</th>
            <td>{{ inventory.product_name }}</td>
            <td>{{ inventory.sku }}</td>
            <td>$ {{ inventory.price }}</td>
            <td>{{ inventory.date }}</td>
            <td>{{ inventory.updated_at }}</td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock content %}